/* elements */
body,
select,
input,
textarea {
  color: #4d4d4d;
  /* off black */

  font-family: "futura-pt-1", "futura-pt-2", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body {
  background: #ffffff url(../images/body_bg.png) repeat-x;
}
/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4d4d4d;
  margin: 0.3em 0 0.7em;
}
h1 {
  background: url(../images/h1_bg.png) left center no-repeat;
  font-size: 22px;
  margin-left: -40px;
  padding-left: 40px;
}
h2 {
  font-size: 18px;
}
a, a:active, a:visited {
  color: #5f167b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p,
ol,
ul,
table {
  margin: 1em 0;
}
p:first-child,
ol:first-child,
ul:first-child,
table:first-child {
  margin: 1em 0;
}
ol, ul {
  margin-left: 1.5em;
}
