/* layout */
#wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
#header {
  margin-bottom: 28px;
}
#body {
  background: url(../images/divider-horizontal.png) top repeat-x;
  margin: 28px 0 20px;
  padding-top: 20px;
}
#body > div {
  background: url(../images/divider-vertical.png) 630px repeat-y;
}
#component {
  float: left;
  padding-left: 10px;
  width: 610px;
}
#sidebar {
  float: left;
  padding-left: 20px;
  width: 300px;
}
#scroll {
  background: url(../images/divider-horizontal.png) top repeat-x;
  margin: 20px 0;
  padding-top: 20px;
}
#bottom {
  background: url(../images/divider-horizontal.png) top repeat-x;
  margin: 20px 0 25px;
  padding-top: 20px;
}
#footer {
  background: url(../images/divider-horizontal.png) bottom repeat-x;
  margin: 25px 0 13px;
  padding-bottom: 16px;
}
/* temp */
#wrapper {
  background-color: purple;
}
#top {
  min-height: 100px;
  background-color: red;
}
#header {
  min-height: 100px;
  background-color: green;
}
#component {
  min-height: 100px;
  background-color: yellow;
}
#sidebar {
  min-height: 100px;
}
#scroll {
  min-height: 100px;
  background-color: pink;
}
#bottom {
  min-height: 100px;
  background-color: orange;
}
#footer {
  min-height: 100px;
  background-color: silver;
}
#bottom_menu {
  min-height: 100px;
  background-color: black;
}
