/* modules */
.moduletable {}

/* hmenu */
.moduletable_hmenu {
	
}

.moduletable_hmenu ul {
	list-style: none;
	text-align: center;
}

.moduletable_hmenu li {
	display: inline-block;
	font-size: 14px;
	padding: 0 0 0 30px;
	text-transform: uppercase;
	
	zoom: 1;
	*display: inline;
}
.moduletable_hmenu li:first-child { padding-left: 0; }
/* /hmenu */


/* vmenu */
.moduletable_vmenu {}
/* /vmenu */


#top .moduletable_hmenu {
	bottom: 0;
	position: absolute;
	right: 0;
}