/* layout */
#wrapper {
	margin: 0 auto;
	padding: 25px 10px;
	width: 940px;
}

#top {
	margin: 0 0 15px;
	position: relative;
	zoom: 1;
}

#header {
	margin-bottom: 20px;
}
#header img { display: block; }

#body {
	margin: 20px 0;
}
#body > div { background: url(../images/divider-vertical.png) 630px repeat-y; }
#body.wide > div { background: none; }

#component {
	float: left;
	padding-left: 40px;
	width: 580px;
}
#body.wide #component { width: 900px; }

#sidebar {
	float: left;
	padding-left: 20px;
	width: 300px;
}

#scroll {
	margin: 20px 0;
	position: relative;
}
#scroll .inner {
	height: 150px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#bottom {
	background: url(../images/bottom_bg.png) repeat-y;
	margin: 20px 0;
}

#footer {
	margin: 25px 0 13px;
}

#copyright {
	margin: 10px 0;
}

#copyright .site-by-cci
{
	position:absolute;
	top:3px;
	right:0;
}

#copyright .copyright
{
	position:absolute;
	top:3px;
	left:0;
}

#top .menu-btn
{
	display:none;
}

@media screen and (max-width:980px)
{
	body 
	{
		padding:10px;
	}

	#wrapper
	{
		padding:0;
		width:100%;
	}

	#top .login
	{
		right:0;
		top:0!important;
	}

	#header img 
	{
		max-width:100%;
		height:auto;
	}

	#component,
	#body.wide #component
	{
		width:auto;
	}

	#scroll .arrow-left
	{
		left:-10px!important;
	}
	#scroll .arrow-right
	{
		left:auto!important;
		right:-10px;
	}

	#bottom 
	{
		background:none;
	}
	#bottom .moduletable
	{
		float:none;
		width:auto;
		padding-bottom:30px;
	}

	.moduletable_hmenu > ul > li
	{
		margin:0 0 0 15px!important;
	}

	#sidebar .moduletable:first-child,
	#sidebar .moduletable
	{
		margin-top:30px;
	}

	#body > div 
	{
		background:none;
	}

	.com_gives .edit
	{
		white-space:nowrap;
	}
}

@media screen and (max-width:768px), screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape)
{
	#top .menu-btn 
	{
    	display:block;
		position:absolute;
		float:left;
		background:#7f3f98;
		color:white;
		padding:8px 16px;
		border-radius:20px;
		right:0;
		top:25px;
		font-size:1.2em;
		text-decoration:none;
	}

	#top .moduletable_hmenu
	{
		display:none;
		top:75px;
		left:0;
		bottom:auto!important;
		width:100%;
		background:white;
		border-radius:5px;
		box-shadow:0 0 10px rgba(0,0,0,0.5);
		z-index:1000;
		margin-bottom:10px;

		ul.menu
		{
			text-align:left;

			& > li 
			{
				padding:0;
				margin-left:0!important;
				display:block;
				border-bottom:1px solid #efefef;

				&.parent
				{
					border-bottom:0;
				}

				&:hover
				{
					background:none;
				}

				& > a,
				& > span
				{
					padding:0 1em;
					line-height:2.5em;
				}

				& > ul 
				{
					display:block;
					position:static;
					margin:0;
					width:auto;
					background:none;

					& > li 
					{
						padding:0;

						& > a,
						& > span 
						{
							line-height:2.5em;
							padding:0 2.5em;
							text-align:left;
						}
					}
				}
			}
		}
	}

	body.menu-open 
	{
		#top .moduletable_hmenu
		{
			display:block;
		}

		#header,
		#body,
		#scroll,
		#bottom,
		#copyright
		{
			display:none;
		}
	}

	input[type=text], input[type=email], input[type=password], select, textarea
	{
		width:200px;
	}


}

@media screen and (max-width:640px)
{
	#copyright 
	{
		height:50px;
	}
	#copyright .copyright
	{
		width:130px;
	}

	.checklist li
	{
		width:auto;
		float:none;
	}
}

@media screen and (max-width:320px)
{
	#copyright .copyright
	{
		width:110px;
	}
}