<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="articles" label="Gives">

		<field name="send_emails" type="list" label="Send Emails" default="1">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>

		<field type="text" name="email_list" label="Email List" description="List of admin email address to send notifications to." />
		<field type="usergroup" name="acl_volunteer" label="Volunteer Group" />
		<field type="usergroup" name="acl_organization" label="Organization Group" />
	</fieldset>
</config>