/* search letters */
.search_letters  { }
.search_letters li {
	background: none;
	display: inline;
	padding: 0 5px
}
.search_letters a.active { text-decoration: underline; }
/* end search letters */


.com_gives .box {
	float: left;
	width: 33%;
}
.com_gives .box > div { padding: 0 10px; }

.com_gives .half {
	float: left;
	width: 50%;
}

.com_gives .edit {
	font-size: 60%;
}

.com_gives .contact_info {
	border: 1px solid #ddd;
	margin: 0 0 1em;
	padding: 5px;
}

/* tabs */
.tabs {
	float: left;
	width: 20%;	
}

.tabs dt { margin: 5px 0; }
.tabs dt.open {
	border-bottom: 1px solid #A7A9AC;
	margin-bottom: 4px;
}

.tabs + .current {
	float: left;
	width: 80%;
}

.tabs + .current dd {
	margin-left: 10px;
	padding-left: 10px;
}

/* end tabs */

/* checklist */
.checklist { 
	list-style: none;
	margin-top: 0;
}
.checklist li { 
	background: none;
	display: inline-block;
	*display: inline;
	margin-bottom: 10px;
	padding: 0;
	width: 32%;
	zoom: 1;
}
.checklist label {
	color: #252525;
	font-weight: 300;
}

.checklist .selectall label { color: #5F167B; }
/* end checklist */

.underline { border-bottom: 1px solid #939; }

/* opporrtunities */
.opportunity_list,
.opportunity_list:first-child,
.organization_list {
	background: white;
	border: 1px solid #A7A7A7;
	margin: 1em 0;
	padding: 1em;
}

.opportunity_list li,
.organization_list li {
	background: none;
	clear: both;
	margin: 0 0 1em;
	padding: 0;
}
.opportunity_list li:last-child,
.organization_list li:last-child { margin-bottom: 0; } /* FIXME: ie chap */

.opportunity_list .logo,
.organization_list .logo {
	border: 1px solid #e3e3e3;
	float: left; 
	margin: 0 10px 0 0;
}
.opportunity_list .logo img,
.organization_list .logo img { display: block; }

.opportunity_list .details,
.organization_list .details {
	float: right;
}
.opportunity_list .details a,
.organization_list .details a {
	display: block; 
	padding: 0 5px;
}


/* @group opportunity alternatives */
ul.alternatives {
	
}

ul.alternatives li {
	background: none;
	padding: 0;
}

ul.alternatives .heading {
	background: url(../images/button_down.png) right center no-repeat;
	color: #5F167B;
	cursor: pointer;
	display: inline;
	font-size: 18px;
	padding-right: 25px;
}
ul.alternatives .heading.close { background-image: url(../images/button_up.png); }
/* @end */