.search_letters  { }
.search_letters li {
	display: inline;
	padding: 0 5px
}
.search_letters a.active { color: red; }


.com_gives .box {
	float: left;
	width: 33%;
}
.com_gives .box > div { padding: 0 10px; }

.com_gives .half {
	float: left;
	width: 50%;
}

.com_gives .edit {
	font-size: 60%;
}

.com_gives .contact_info {
	border: 1px solid #ddd;
	float: right;
	margin: 0 0 10px 10px;
	padding: 5px;
}

/* pagination */
.-koowa-pagination {}
.-koowa-pagination .limit {
	display: none;
}
.-koowa-pagination .pages {
	list-style: none;
	margin: 0;
	text-align: center;
}
.-koowa-pagination .pages  li {
	display: inline;
	padding: 0 5px;
}
.-koowa-pagination .count {
	text-align: center;
}
/* end pagination */

/* tabs */
.tabs {
	float: left;
	width: 20%;	
}

.tabs dt { margin: 5px 0; }
.tabs dt.open {
	border-bottom: 1px solid #A7A9AC;
	margin-bottom: 4px;
}

.tabs + .current {
	float: left;
	width: 80%;
}

.tabs + .current dd {
	margin-left: 10px;
	padding-left: 10px;
}

/* end tabs */